# --- DATABASE CONFIG ---
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/vidyabharati

# --- AUTH CONFIG ---
JWT_SECRET=this_should_be_a_long_random_string

# --- BASE URL ---
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# --- STRIPE WEBHOOKS ---
STRIPE_WEBHOOK_SECRET=whsec_...

# --- EMAIL CONFIG (SMTP) ---
SMTP_HOST=us2.smtp.mailhostbox.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=no-reply@fritado.com
SMTP_PASS=S^*DQJq%6
